<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://riscv.org">
        <img class="riscvlogo riscvlogo--light" src="{{{uiRootPath}}}/img/risc-v_logo.svg" alt="RISCV" />
        <img class="riscvlogo riscvlogo--dark" src="{{{uiRootPath}}}/img/risc-v_logo_white.svg" alt="RISCV" />
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item home">
          <a class="navbar-link"
            href="{{siteRootPath}}/home/index.html"
            aria-label="home"
            title="home">
            <svg class="home-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
              <polyline points="9 22 9 12 15 12 15 22"></polyline>
            </svg></a>
        </div>
      </div>
      {{!-- <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">ISA</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/805601287/The+RISC-V+Instruction+Set+Manual+Volume+I+Unprivileged+ISA">Unprivileged
            <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/805568665">Privileged <svg
              class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">Profiles</a>
        <div class="navbar-dropdown" style="min-width: 280px">
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/805240860/RVA23+Profile">RVA23 Profile <svg
              class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/805568757/RVB23+Profile">RVB23 Profile <svg
              class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/806289411/RISC-V+Profiles">RISC-V Profiles <svg
              class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">Hardware</a>
        <div class="navbar-dropdown" style="min-width: 280px">
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/806289428/RISC-V+Advanced+Interrupt+Architecture">Advanced
            Interrupt Architecture <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/806617089/RISC-V+IOMMU+Architecture">IOMMU
            Architecture <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/806617106/RISC-V+Platform-Level+Interrupt+Controller">Platform-Level
            Interrupt Controller <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/806617123/RISC-V+Server+SOC">Server
            SOC <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">Debug, Trace, RAS</a>
        <div class="navbar-dropdown" style="min-width: 280px">
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/809926657/Efficient+Trace+for+RISC-V">Efficient
            Trace
            <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
              </svg>
          </a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/809697292/RISC-V+Capacity+and+Bandwidth+QoS+Register+Interface">QoS
            Register Interface <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/809926674/The+RISC-V+Debug">Debug <svg
              class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/809926691/RISC-V+N-Trace+Nexus-based+Trace">N-Trace
            <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/809697310/RISC-V+RERI+Architecture">RERI
            Architecture
            <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/810057729/RISC-V+Trace+Connectors">Trace Connectors
            <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/810057747/RISC-V+Trace+Control+Interface">Trace
            Control Interface <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/810057766/Unformatted+Trace+Diagnostic+Data+Packet+Encapsulation+for+RISC-V">Unformatted
            Trace and Diagnostic Data Packet
            Encapsulation <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">Platform Software</a>
        <div class="navbar-dropdown" style="min-width: 280px">
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/809926709/RISC-V+Boot+and+Runtime+Services+BRS">Boot
            and Runtime Services <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/810057786/RISC-V+Functional+Fixed+Hardware">Functional
            Fixed Hardware <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/809926726/RISC-V+IO+Mapping+Table">IO Mapping Table
            <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/810057803/RISC-V+Platform+Management+Interface+RPMI">Platform
            Management Interface <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/810057820/RISC-V+Semihosting">Semihosting <svg
              class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/810057837/RISC-V+Supervisor+Binary+Interface">Supervisor
            Binary Interface <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/810057854/RISC-V+UEFI+Protocol">UEFI Protocol <svg
              class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">Application Enablement</a>
        <div class="navbar-dropdown" style="min-width: 280px">
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/810057873/RISC-V+ABIs">Application Binary Interface
            <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
          <a class="navbar-item" target="_blank" rel="noopener noreferrer"
            href="https://riscv.atlassian.net/wiki/spaces/HOME/pages/809926743/RISC-V+Vector+C+Intrinsic">Vector C
            Intrinsic <svg class="nav-external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M10 1h5v5h-2V3.41l-6.29 6.3-1.42-1.42L11.59 2H10V1zM14 14H2V2h5V0H2a2 2 0 0 0-2 2v12
             a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5h-2v5z" />
            </svg></a>
        </div> --}}
      </div>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print search-position" style="padding-left: 0;">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs" {{#if page.home}} autofocus{{/if}}>
        </div>
        {{/if}}
        <div class="navbar-item" style="padding-left: 0;">
          <label class="theme-toggler">
            <input type="checkbox" type="checkbox" id="switch-theme-checkbox" name="switch-theme-checkbox" />
            <span class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="moon"
                class="svg-inline--fa fa-moon moon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                <path fill="currentColor"
                  d="M223.5 32C100 32 0 132.3 0 256S100 480 223.5 480c60.6 0 115.5-24.2 155.8-63.4c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6c-96.9 0-175.5-78.8-175.5-176c0-65.8 36-123.1 89.3-153.3c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z">
                </path>
              </svg>
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sun"
                class="svg-inline--fa fa-sun sun" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor"
                  d="M361.5 1.2c5 2.1 8.6 6.6 9.6 11.9L391 121l107.9 19.8c5.3 1 9.8 4.6 11.9 9.6s1.5 10.7-1.6 15.2L446.9 256l62.3 90.3c3.1 4.5 3.7 10.2 1.6 15.2s-6.6 8.6-11.9 9.6L391 391 371.1 498.9c-1 5.3-4.6 9.8-9.6 11.9s-10.7 1.5-15.2-1.6L256 446.9l-90.3 62.3c-4.5 3.1-10.2 3.7-15.2 1.6s-8.6-6.6-9.6-11.9L121 391 13.1 371.1c-5.3-1-9.8-4.6-11.9-9.6s-1.5-10.7 1.6-15.2L65.1 256 2.8 165.7c-3.1-4.5-3.7-10.2-1.6-15.2s6.6-8.6 11.9-9.6L121 121 140.9 13.1c1-5.3 4.6-9.8 9.6-11.9s10.7-1.5 15.2 1.6L256 65.1 346.3 2.8c4.5-3.1 10.2-3.7 15.2-1.6zM160 256a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zm224 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z">
                </path>
              </svg></span>
            <span class="text">light</span>
          </label>
        </div>
      </div>
  </nav>
</header>
<script>
  !function (theme) {
    if (theme === 'dark') {
      document.getElementById('switch-theme-checkbox').parentElement.classList.add('active')
    }
  }(localStorage && localStorage.getItem('theme') || (matchMedia('(prefers-color-scheme: dark)')?.matches && 'dark'))
</script>
