<div class="context">
  <span class="title">{{#if (or (eq page.component.name "hardware") (eq page.component.name "aia") (eq page.component.name "iommu") (eq page.component.name "plic") (eq page.component.name "soc"))}}Non-ISA Hardware{{else if (or (eq page.component.name "debug-trace-ras") (eq page.component.name "techtrace") (eq page.component.name "qos"))}}Debug, Trace, RAS{{else}}{{page.component.title}}{{/if}}</span>
</div>